# виртуальные окружения
.venv/
venv/
ENV/
env/

# кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# логи
*.log

# Jupyter
.ipynb_checkpoints/

# системное
.DS_Store
Thumbs.db

# данные
data/
rec_system/help.md
cuda-keyring_1.1-1_all.deb
rec_system/result/baseline_submission.csv
submission.csv
model_als.pkl
rec_system/src/models/lgbm_model.pkl
rec_system/src/models/lgbm_model_full.pkl
rec_system/result/submission_temp.csv
bac/lgbm_model_full.pkl
bac/lgbm_model_full.pkl:Zone.Identifier
bac/processed/copurchase_map.pkl
bac/processed/copurchase_map.pkl:Zone.Identifier
bac/processed/extended_cat_to_items.pkl
bac/processed/extended_cat_to_items.pkl:Zone.Identifier
bac/processed/item_features_dict.pkl
bac/processed/item_features_dict.pkl:Zone.Identifier
bac/processed/item_map.pkl
bac/processed/item_map.pkl:Zone.Identifier
bac/processed/item_to_cat.pkl
bac/processed/item_to_cat.pkl:Zone.Identifier
bac/processed/popular_items.pkl
bac/processed/popular_items.pkl:Zone.Identifier
bac/processed/recent_items_map.pkl
bac/processed/recent_items_map.pkl:Zone.Identifier
bac/processed/train.parquet
bac/processed/train.parquet:Zone.Identifier
bac/processed/user_features_dict.pkl
bac/processed/user_features_dict.pkl:Zone.Identifier
bac/processed/val.parquet
bac/processed/val.parquet:Zone.Identifier
bac/processed/prepare_interactions_batches/orders_batch_0.parquet
bac/processed/prepare_interactions_batches/orders_batch_0.parquet:Zone.Identifier
bac/processed/prepare_interactions_batches/tracker_part_0.parquet
bac/processed/prepare_interactions_batches/tracker_part_0.parquet:Zone.Identifier
bac/processed/ui_features_distributed/metadata.json
bac/processed/ui_features_distributed/metadata.json:Zone.Identifier
bac/processed/ui_features_distributed/ui_features_orders_batch_0.parquet
bac/processed/ui_features_distributed/ui_features_orders_batch_0.parquet:Zone.Identifier
bac/processed/ui_features_distributed/ui_features_tracker_part_0.parquet
bac/processed/ui_features_distributed/ui_features_tracker_part_0.parquet:Zone.Identifier
catboost_info/catboost_training.json
catboost_info/learn_error.tsv
catboost_info/test_error.tsv
catboost_info/time_left.tsv
catboost_info/learn/events.out.tfevents
catboost_info/test/events.out.tfevents
rec_system/src/models/catboost_model.cbm
rec_system/src/models/model.pkl
