# виртуальные окружения
.venv/
venv/
ENV/
env/

# кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# логи
*.log

# Jupyter
.ipynb_checkpoints/

# системное
.DS_Store
Thumbs.db

# данные
data/
rec_system/help.md
cuda-keyring_1.1-1_all.deb
rec_system/result/baseline_submission.csv
submission.csv
model_als.pkl
rec_system/src/models/lgbm_model.pkl
rec_system/src/models/lgbm_model_full.pkl
